.container {
  //margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: rgb(235, 235, 235);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.name {
  font-weight: bold;
}
