.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.item {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.name {
  font-weight: bold;
}
