<mat-expansion-panel [expanded]="votingEnabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ restaurant.name }}
    </mat-panel-title>
    <mat-panel-description>
      {{ restaurant.openingHours }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div *ngFor="let dish of restaurant.dishes">
    <p>{{ dish.name }} {{ dish.price }}</p>
  </div>
  <div class="votes">
    <button (click)="vote()" mat-raised-button color="primary">Äänestä</button>
    <!-- <h3>Ääniä: {{ restaurant.votes }}</h3> -->
  </div>
</mat-expansion-panel>
