mat-divider {
  margin-top: 1rem;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  .name {
    padding-right: 2rem;
  }
}

.votes {
  display: flex;
  align-items: baseline;
  button {
    margin-right: 2rem;
  }
  h3 {
    font-weight: bold;
  }
}

.opening {
  color: rgb(55, 55, 55);
  margin-bottom: 1rem;
}
